@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  --very-dark-blue: hsl(233, 47%, 7%);
  --dark-saturated-blue: hsl(244, 38%, 16%);
  --soft-violet: hsl(277, 64%, 61%);
  --trans-white-para: hsla(0, 0%, 100%, 0.75);
  --trans-white-stat-heading: hsla(0, 0%, 100%, 0.6);
}

html {
  font-size: 100%;
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dark-blue);
  font-size: 0.9375rem;
}

img {
  max-width: 100%;
  display: block;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.card {
  display: flex;
  background-color: var(--dark-saturated-blue);
  max-width: 69.375rem;
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
  max-height: 27.875rem;
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
}

.left {
  padding: 4.875rem 4.625rem 0 4.625rem;
  max-width: 51.4%;
}

.heading {
  color: white;
  font-size: 2rem;
  padding-right: 0.55rem;
}

mark {
  color: var(--soft-violet);
  background-color: transparent;
  transition: all 0.3s ease;
}

mark:hover {
  font-size: 2.2rem;
  cursor: pointer;
  filter: brightness(1.4);
}

.description {
  padding-right: 2rem;
  margin-block: 2rem 5rem;
  color: var(--trans-white-para);
  line-height: 1.5;
}

.stats {
  display: flex;
  color: white;
  gap: 4rem;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.stat:last-child {
  text-transform: uppercase;
}

.stat-amount {
  font-size: 1.5rem;
}

.stat-title {
  color: var(--trans-white-stat-heading);
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
  letter-spacing: 0.05rem;
}

.for-mobile {
  display: none;
}

.right {
  position: relative;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: var(--soft-violet);
  mix-blend-mode: multiply;
  transition: all 0.3s ease;
}

.overlay:hover {
  background-color: transparent;
}

@media only screen and (max-width: 1100px) {
  body {
    align-items: flex-end;
    padding: 5.5rem 1.5rem;
  }

  .card {
    flex-direction: column-reverse;
    text-align: center;
    max-width: 40.875rem;
    max-height: unset;
  }
  .left {
    max-width: 100%;
    padding: 3rem 2rem 2rem 2rem;
  }

  .heading,
  .description {
    padding-right: 0;
  }
  .description {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
  }

  .heading {
    font-size: 1.75rem;
  }

  .right {
    max-width: 100%;
  }
  .stats {
    flex-direction: column;
    gap: 2rem;
  }
  .for-desktop {
    display: none;
  }
  .for-mobile {
    display: block;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0;
  }
}
